@charset "UTF-8";

@import "./reset.scss";
@import "./ui-lib-reset.scss";

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfloat::after {
    display: block;
    clear: both;
    content: "";
}
