div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, 微软雅黑, Verdana, MicroSoft YaHei, Tahoma, sans-serif;
    user-select: none;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: $black;
    vertical-align: middle;
    user-select: none;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

button,
input,
textarea,
select {
    padding: 5px;
    border: 1px solid #c8c8c8;
    outline: none;
}

input[type="range"] {
    padding: 0;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #53a1f0;
}

input[type="button"],
button,
label {
    cursor: pointer;
}

input[disabled="disabled"] {
    cursor: no-drop;
}

small {
    font-size: 12px;
}

fieldset,
img {
    border: none;
}

img {
    font-size: 0;
    vertical-align: middle;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

div {
    box-sizing: border-box;
}
